{% extends 'base.html' %}
 
{% block content %}
<h1 class="page-header text-center">Đơn hàng</h1>
<form>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <label class="fw-bold">Tiêu đề *</label>
                            <input type = "text" name = "name" class="form-control" value="{{book.name}}" required disabled/>
                        </div>
                        <div class="col">
                            <label class="fw-bold">Tác giả *</label>
                            <input type = "text" name = "author" class="form-control" value="{{book.author}}" required disabled/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="fw-bold">Mô tả về sách</label>
                            <textarea type = "text" name = "description" class="form-control"
                            style="height:390px" disabled>{{book.description}}</textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="fw-bold">Ngày phát hành *</label>
                            <input type = "text" name = "date" class="form-control" 
                            placeholder="YYYY-MM-DD" value="{{book.date}}" required disabled/>
                        </div>
                        <div class="col">
                            <label class="fw-bold">Số trang</label>
                            <input type = "text" name = "pages" value="{{book.pages}}" class="form-control" disabled/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="fw-bold">Thể loại</label>
                            <select class="form-select" name="category" disabled>
                                <option selected>{{book.category}}</option>
                                <option value="Science">Science</option>
                                <option value="Magic">Magic</option>
                                <option value="Detective">Detective</option>
                                <option value="Horror">Horror</option>
                                <option value="Tutorial">Tutorial</option>
                            </select>
                        </div>
                        <div class="col">
                            <label class="fw-bold">Số lượng</label>
                            <input type = "text" name = "quantity" value="{{book.quantity}}" class="form-control" disabled/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-center">
                    <img id="uploaded-image" src="{{ url_for('static', path = book.cover + '.jpg') }}" 
                    alt="Uploaded Image" style="max-width: 500px; max-height: 500px;">
                </div>
            </div>
        </div>
    </div>
    <br>
    <footer class="bg-light text-center text-lg-start" style="border-top: 3px solid #000">
    <br>
    <a href="/view_books_ordered/{{user_acc}}" class="btn btn-primary">Return</a>
    </footer>
</form>
<script>
    
</script>
{% endblock content %}